/* タグデザイン */
.category-tag {
	display: inline-block;
	margin: 0 .1em .3em 0;
	padding: .3em;
	line-height: 1;
	text-decoration: none;
	color: #0085A1 !important;
	background-color: #fff;
	border: 1px solid #0085A1;
	border-left: 5px solid #0085A1;
	font-size: 1.0rem;
}

.category-title {
  font-size: calc(1.275rem + 0.3vw) !important;
  border-bottom: 3px solid #000;
  margin-bottom: 1.5rem;
}
@media (min-width: 1200px) {
  .category-title {
    font-size: 1.5rem !important;
  }
}

.padding-bottom-20px {
  padding-bottom: 20px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	font-family: var(--bs-body-font-family);
}

header.masthead .site-heading h2 {
	font-size: 26px;
}
header.masthead .site-heading .subheading {
	font-size: 22px;
}
.post-preview > a > .post-title {
	font-size: 24px;
}
.post-preview > a > .post-subtitle {
	font-size: 20px;
}
.btn {
	padding: 14px 24px;
}