header.masthead .post-heading h1 {
  font-size: 40px;
}
header.masthead .post-heading .subheading {
	font-size: 26px;
}
h1:not(.title) {
  font-size: 24px !important;
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
  margin-bottom: 1.5rem;
}
h2:not(.subtitle) {
  font-size: 22px !important;
  border-bottom: 3px solid #000;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 20px !important;
  padding: 0.5rem 1rem;
  border-left: 4px dashed #000;
  margin-bottom: 1.5rem;
}
p:not(.category-title) {
  font-size: 18px !important;
  margin: 0.5rem 0 !important;
}
pre code {
  font-size: 18px !important; 
}

@media (max-width: 450px) {
  header.masthead .post-heading h1 {
    font-size: 30px;
  }
  header.masthead .post-heading .subheading {
    font-size: 24px;
  }
  h1:not(.title) {
    font-size: 22px !important;
  }
  h2:not(.subtitle) {
    font-size: 20px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  p:not(.category-title) {
    font-size: 16px !important;
  }
  pre code {
    font-size: 16px !important; 
  }
}